<div class="flex h-full">
  <div class="m-auto p-10">

    <!-- Form -->
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="text-center text-primary text-[35px] leading-8 pb-12 title">Añadir Nuevo Producto</h1>

      <!-- Name -->
      <p>
        <mat-label>Nombre: </mat-label>
        <mat-form-field class="ml-2">
          <input matInput placeholder="Nombre" formControlName="name" />
          <mat-error *ngIf="myError('name', 'required')">Nombre obligatorio</mat-error>

        </mat-form-field>
     
        <!-- Teléfono -->
        <mat-label class="ml-8">Precio: </mat-label>
        <mat-form-field class="ml-2">
          <input matInput type="number" placeholder="Precio" formControlName="price" />
          <mat-error *ngIf="myError('price', 'required')">Precio obligatorio</mat-error>

        </mat-form-field>
      </p>

      <!-- Submit -->
      <div class="button-wrapper">
        <div class="grid justify-items-center">
          <button mat-flat-button color="primary">Guardar</button>
        </div>
      </div>
</form>
  </div>
</div>
