<div class="flex h-full">
  <div class="m-auto p-10">

    <!-- Form -->
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="text-center text-primary text-[35px] leading-8 pb-12">Añadir Nuevo Pedido</h1>

      <!-- Anotaciones -->
      <p>


        <!-- Cliente -->
        <mat-label>Cliente: </mat-label>
        <mat-form-field class="ml-2">
          <mat-select *ngIf="customers$ | async; let customers" formControlName="customerId">
            <mat-option *ngFor="let customer of customers;" [value]="customer.id">
              {{customer.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Fecha -->
        <mat-form-field  class="ml-8">
          <input matInput
                 readonly
                 [matDatepicker]="picker"
                 placeholder="Fecha"
                 formControlName="date"
                 (dateChange)="date($event)" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-label  >Nota: </mat-label>
        <mat-form-field class="ml-5">
          <input matInput placeholder="Anotaciones" formControlName="annotations" />
          <!--<mat-error *ngIf="myError('annotations', 'required')">Nombre obligatorio</mat-error>-->

        </mat-form-field>
      </p>
     
      <!-- Submit -->
      <div class="button-wrapper">
        <div class="grid justify-items-center" >

          <button mat-flat-button color="primary">Guardar</button>
        </div>
        </div>
</form>
  </div>
</div>
