@page
@model SpecializedClinicAuth.Pages.Account.Login.Index

<div class="login-page">
    <div class="lead">
        <h1>Inicio de sesión</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

        @if (Model.View.EnableLocalLogin)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Ingresa tu usuario y contraseña</h4>
                    </div>

                    <div class="card-body">
                        <form asp-page="/Account/Login/Index">
                            <input type="hidden" asp-for="Input.ReturnUrl" />

                            <div class="form-group">
                                <label asp-for="Input.Username"></label>
                                <input class="form-control" placeholder="Usuario" asp-for="Input.Username" autofocus>
                            </div>
                            <div class="form-group">
                                <label asp-for="Input.Password"></label>
                                <input type="password" class="form-control" placeholder="Contraseña" asp-for="Input.Password" autocomplete="off">
                            </div>

                            @if (Model.View.AllowRememberLogin)
                            {
                                <div class="form-group">
                                    <div class="form-check">
                                        <input class="form-check-input" asp-for="Input.RememberLogin">
                                        <label class="form-check-label" asp-for="Input.RememberLogin">
                                            Recordarme
                                        </label>
                                    </div>
                                </div>
                            }

                            <button class="btn btn-primary" name="Input.Button" value="login">Ingresar</button>
                            <button class="btn btn-secondary" name="Input.Button" value="cancel">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>