@page
@model             SpecializedClinicAuth.Pages.Index

<div class="welcome-page">
    <h1>
        <img src="~/duende-lsogo.svg" class="logo">
        Servicio de seguridad de la clínica dental
    </h1>

    <ul>
        <li>
            
        </li>
            @*<a href="~/.well-known/openid-configuration">discovery document</a>*@
        <li>
            @*Click <a href="~/diagnostics">here</a> to see the claims for your current session.*@
        </li>
        <li>
            @*Click <a href="~/grants">here</a> to manage your stored grants.*@
        </li>
        <li>
            @*Click <a href="~/ciba/all">here</a> to view your pending CIBA login requests.*@
        </li>
        <li>
           @* Here are links to the
            <a href="https://github.com/duendesoftware/IdentityServer">source code repository</a>,
            and <a href="https://github.com/duendesoftware/samples">ready to use samples</a>.*@
        </li>
    </ul>
</div>
