<div class="flex h-full">
  <div class="m-auto p-10">

    <!-- Form -->
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">Datos</h1>

      <!-- Name -->
      <p>
        <mat-label>Usuario: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Usuario" formControlName="userName" />
        </mat-form-field>
      </p>
      <p>
        <!-- Email -->
        <mat-label>Correo: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" />
        </mat-form-field>
      </p>
      <!-- Gender -->
      <p>
        <mat-label>Rol: </mat-label>
        <mat-radio-group aria-label="Role" formControlName="role">
          <mat-radio-button value="Administrador">Administrador</mat-radio-button>
          <mat-radio-button value="Operador">Operador</mat-radio-button>
        </mat-radio-group>
      </p>
      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Confirmar</button>
      </div>
    </form>
  </div>
</div>
