// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$primary: mat.define-palette(mat.$blue-palette, A200, A100, A700);
$accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$base-theme: mat.define-light-theme(( color: ( primary: $primary, accent: $accent, warn: $warn, ) ));

@mixin mix-app-theme($base-theme) {
  $primary: map-get($base-theme, primary);
  $accent: map-get($base-theme, accent);

  .mat-button-toggle {
    background-color: mat-color($primary);
    color: mat-color($primary, default-contrast);
  }

  .mat-button-toggle-checked {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
  }

  .primary {
    background-color: mat-color($accent);
    color: mat-color($primary, default-contrast);
  }

  .text-primary {
    color: mat-color($primary);
  }
}

@import './app/mat-table-responsive/mat-table-responsive.directive';

// Include the mixin
@include mix-app-theme($base-theme);
// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($base-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import '~@angular/material/theming';*/
/*@include mat-core();*/

/*$my-app-primary: mat-palette($mat-blue);
$my-app-accent: mat-palette($mat-pink, 500, 900, A100);
$my-app-warn: mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

$theme-primary: mat.define-palette(mat.$green-palette, A200, A100, A400);
@include angular-material-theme($theme-primary);*/

/*.primary {
  color: mat-color($my-app-primary) !important;
}*/


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
