<!--<div style="height: 800px; width:1500px">-->
<div class="container h-screen w-screen">

  <div fxShow="true" fxHide.gt-sm="false">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

    <mat-sidenav-container fxFlexFill class="h-full w-full">
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="side" opened="true" fxHide.gt-sm="false">
        <div fxLayout="column">
          <a mat-button (click)="setCurrentComponent('profile')">Perfil</a>
          <a mat-button (click)="setCurrentComponent('manage-users')">Administrar usuarios</a>
        </div>
      </mat-sidenav>
      <mat-sidenav-content class="flex h-screen bg-white">
        <div class="m-auto p-10">
          <div *ngIf="activeComponent == 'profile'" class="container">
            <profile-component></profile-component>
          </div>
          <div *ngIf="activeComponent == 'manage-users'" class="container">
            <manage-users-component></manage-users-component>
          </div>

        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
</div>
