table {
  width: 100%;
}

.mat-column-actions {
  text-align: right;
}

// table

.mat-cell {
  font-family: 'Montserrat', sans-serif !important;
}

.mat-header-cell {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 700 !important;
}

.title {
  font-family: 'Righteous', cursive !important;
  font-weight: 700 !important;
}

// end table
