<div class="flex h-full">
  <div class="m-auto p-10">

    <!-- Form -->
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-blue-600">Datos</h1>

      <!-- Name -->
      <p>
        <mat-label>Nombre: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Nombre" formControlName="name" />
          <mat-error *ngIf="myError('name', 'required')">Nombre obligatorio</mat-error>

        </mat-form-field>
      </p>
      <p>
        <!-- Teléfono -->
        <mat-label>Teléfono: </mat-label>
        <mat-form-field>
          <input matInput type="number" placeholder="Teléfono" formControlName="phoneNumber" />
          <mat-error *ngIf="myError('phoneNumber', 'required')">Teléfono obligatorio</mat-error>

        </mat-form-field>
      </p>
      <p>
        <!-- Dirección -->
        <mat-label>Dirección: </mat-label>
        <mat-form-field>
          <input matInput placeholder="Dirección" formControlName="address" />
          <mat-error *ngIf="myError('address', 'required')">Dirección obligatoria</mat-error>

        </mat-form-field>
      </p>
      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary">Confirmar</button>
      </div>
    </form>
  </div>
</div>
