<div class="flex h-full">
  <div class="m-auto p-10">

    <!-- Form -->
    <form [formGroup]="myForm" (ngSubmit)="submitForm()" novalidate>
      <h1 class="text-center text-primary text-[35px] leading-8 pb-12">Añadir Nuevo Usuario</h1>

      <!-- Name -->
      <p>
        <mat-label>Usuario: </mat-label>
        <mat-form-field class="ml-2">
          <input matInput placeholder="Usuario" formControlName="userName" />
          <mat-error *ngIf="myError('userName', 'required')">Usuario obligatorio</mat-error>

        </mat-form-field>
    
        <!-- Email -->
        <mat-label class="ml-2">Correo: </mat-label>
        <mat-form-field class="ml-2">
          <input matInput placeholder="Email" formControlName="email" />
          <mat-error *ngIf="myError('email', 'required')">Correo requerido</mat-error>
          <mat-error *ngIf="myError('email', 'email')">Debe ser un correo electrónico</mat-error>

        </mat-form-field>
      
        <!-- Contraseña -->
        <mat-label class="ml-2">Contraseña: </mat-label>
        <mat-form-field class="ml-2">
          <input matInput placeholder="Contraseña" [type]="hide ? 'password' : 'text'" formControlName="password" required>
          <mat-error *ngIf="myError('password', 'required')">Contraseña obligatoria</mat-error>
          <mat-error *ngIf="myError('password', 'pattern')">Contraseña debe contener dígitos, letras, símbolos y un mínimo de 8 caracteres</mat-error>
        </mat-form-field>
      </p>
    
      <div>
        <mat-label>Cargo: </mat-label>
        <mat-form-field class="ml-2">
          <mat-select *ngIf="roles$ | async; let roles" formControlName="role">
            <mat-option *ngFor="let role of roles;" [value]="role.name">
              {{role.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
     
      <!-- Submit -->
      <div class="button-wrapper" >
        <div class="grid justify-items-center mt-6">
          <button mat-flat-button color="primary">Guardar</button>
        </div>
        </div>
</form>
  </div>
</div>
